body{
  background: #001821;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #FFFFFF;
  margin: 0px;
}

ul {
  padding: 0px;
  margin: 0px;
}

ul li {
list-style: none;
}

h1 h2 h3 h4 h5 h6 {
  margin: 0;
  font-weight: normal;
}

.container {
  margin: 0 auto;
  width: 1141px;
  margin-bottom: 246px;
}
.header {
  position: relative;
  height: 80px;
  margin-bottom: 121px;
}
.logo {
  display: block;
  position: absolute;
  top: 29px;
  left: 0px;
}

.menu {
  position: absolute;
  top: 42px;
  left: 164px;
}
.menu__list-item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 54px;
}
.menu__list-item:last-child{
  margin: 0;
}

.menu__link {
  font-size: 14px;
  color: #FFFFFF;
  text-decoration: none;
}
.menu__link:hover {
  color: #DA0100;

}

.header__contacts {
  position: absolute;
  top: 26.64px;
  right: 0px;
  font-style: normal;
  text-align: right;
}
.header__contacts-tel {
  font-size: 26px;
  color: #FFFFFF;
  text-decoration: none;
}
.contacts__dropdonw-title {
  text-decoration: underline;
  font-size: 16px;
  color: #98A4A8;
}
.contacts__dropdonw-title:hover {
  color: #FFFFFF
}

.hero__text-section {
  width: 511px;
}
.hero__title {
  font-size: 72px;
  line-height: 84px;
  margin-bottom: 27.5px;
}
.hero__subtitle {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 33.5px;
}

.buttom {
  background: #F5170E;
  border-radius:35px;
  color: #FFFFFF;
  padding: 18px 40px;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
}

.main__body {
  margin: 0 auto;
}
.tours{
  margin-bottom: 127px;
}
.tours__header {
  display: inline-block;
  margin-bottom: 51px;
}
.tours-img {
  display: inline-block;
}
.tours__header-title {
  display: inline-block;
  font-size: 36px;
}
.tours__body {
  margin-top: 51px;
}

.tours__list-itm{
  display: inline-block;
  width: 359px;
  background: #FFFFFF;
  margin-right: 27px;
}

.tours__list-itm:last-child{
  margin: 0px;
}
.tours__img{
  width: 359px;
}
.tours__title{
  font-size: 24px;
  color: #000;
  margin-top: 33px;
  margin-left: 22px;
}
.tours__date{
  display: inline-block;
  margin-left: 28px;
}
.tours__date-img{
  display: inline-block;
}
.tours__date-content{
  display: inline-block;
  color: #666666;
  font-size: 16px;
  margin-right: 28px;
}

.tours__menu{
  display: inline-block;
}
.tours__menu-content{
  display: inline-block;
  color: #666666;
}
.tours__menu-content:last-child{
  margin: 0px;
}

.tours__content{
  color:#303030;
  font-size: 14px;
  margin-left: 22px;
  margin-bottom: 24.5px;
}
.tours__buttom{
  display: inline-block;
  border: 1px solid;
  border-color: #F5170E;
  padding: 18px 29px 18px 30px;
  border-radius: 35px;
  background: none;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #F5170E;
  margin-left: 24px;
  margin-bottom: 26px;
}
.tours__buttom:hover{
  color: #FFFFFF;
  background: #F5170E;
}

.news__title{
  font-size: 36px;
  margin-bottom: 51px;
}
.news__list{
  display: inline-block;
  margin-bottom: 57.5px;
}
.news__list-itm{
  display: inline-block;
  position: relative;
  margin-right: 20px;
}
.news__list-itm:last-child{
  margin-right: 0px;
}
.news__date{
  position: absolute;
  top: 252.5px;
  left: 30px;
  font-size: 14px;
  margin-bottom: 12.5px;
}
.news__subtitle{
  position: absolute;
  top: 286px;
  left: 30px;
  font-size: 24px;
  margin-bottom: 3.5px;
}
.news__content-text{
  position: absolute;
  top: 325.5px;
  left: 30px;
  font-size: 16px;
}
.paginator__display{
  display: inline-block;
  font-size: 16px;
  margin-right: 25px;
  color: #FFFFFF;
}

.paginator{
  text-align: center;
}
.paginator__list{
  display: inline-block;
}
.paginator__item{
  display: inline-block;
  margin-right: 13px;
}
.paginator__item-link{
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
.paginator__item-link:last-child{
  margin: 0;
}
.paginator__item-link:hover{
  color: #F5170E;
  border: 1px solid;
  border-color: #fff;
  padding: 5px 11px;
  border-radius: 50%;
  background: #FFFFFF;
}